<div id="show">
  <h2><%=@article.title %></h2>
  <p><%=@article.content %></p>
  <div>
  <button class="btn btn-warning text-dark"><%= link_to "Liste Des Films", articles_path %></button>
  </div>
</div>
